@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --button: hsl(210, 40%, 30%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

header {
    margin-bottom: 1%;
}

form {
    width: 50%;
    display: grid;
    gap: 2rem;
}

.input-container {
    display: grid;
    gap: 0.5rem;
}

input,
select,
button {
    padding: 0.4rem 0.7rem;
    border: 1px solid gray;
    border-radius: 4px;
}

button {
    background-color: var(--button);
    border: 1px solid transparent;
    font-weight: bold;
    color: white;
    transition: 0.2s ease-out;
}

button:hover {
    transform: translateY(-0.2rem);
    cursor: pointer;
    background-color: transparent;
    border-color: var(--button);
    color: var(--button);
}

.error {
    color: red;
}

#loader {
    display: none;
    color: gray;
    animation: colorChange 2s infinite ease-in-out;
    transition: 0.2s;
}

@keyframes colorChange {
    0% {
        color: lightgray;
    }
    50% {
        color: gray;
    }
    100% {
        color: lightgray;
    }
}
